<h1>DBC Coaches and Mentors</h1>
<ul>
  <!-- = show in the dom -->
  <% @coaches.each_with_index do |coach, index| %>
    <li><a href="/coaches/<%= index %>"><%= coach %></a></li>
  <% end %>
</ul>

<a href="/coaches/new">Create a new coach</a>
