<h2>New Coach Form</h2>

<!-- action attribute corresponds to the controller route -->
<!-- method attribute corresponds to the controller -->
<form method="POST" action="/coaches">
  <label>New Coach Name</label>
  <!-- name attribute becomes the key in params -->
  <input type="text" name="new_coach_name">
  <input type="submit">
</form>
