<form action="/coaches" method="post">
  <input type="text" name="first_name" placeholder="Enter New Coach Name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="submit" value="Create New Coach">
</form>
