<form action="/coaches" method="post">
  <!-- the name attribute becomes the key -->
  <input type="text" placeholder="New Coach Name" name="coach_name">
  <input type="Submit" value="Create New Coach">
</form>
