<form method="post" action="/coaches">
  <input type="text" name="coach[name]">
  <!-- {"coach"=>{"name"=>"johnny"}} -->
  <!-- name attribute becomes the key in params -->
  <input type="submit">
</form>
