<!-- action maps to the route
  method maps to http verb
  name attribute maps to params key
 -->
<form action="/coaches" method="POST">
  <input type="text" name="coach_name" placeholder="New Coach Name">
  <input type="submit">
</form>
