<h1>Create a new coach</h1>

<form method="POST" action="/coaches">
  <!-- name attribute becomes the key in params -->
  <p>New coach name: <input type="text" name="new_coach_name"></p>
  <input type="submit" value="Create">
</form>
