<h2>New Coach</h2>

<form method="POST" action="/coaches">
  <label>New Coach Name</label>
  <!-- name attr becomes key in params -->
  <input type="text" name="new_coach_name">
  <input type="submit">
</form>
