<!-- action attributes maps to the route in controller -->
<form action="/coaches" method="POST">
  <input type="text" placeholder="New Coach Name" name="new_coach_name">
  <input type="Submit">
</form>
